@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --color-primary: #ec1115;
  --color-secondary: #343641;
  --color-tertiary: #ecc94b;
  --color-neutral: #ecc94b;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

.nav-hover {
  position: relative;
}

.nav-hover:hover {
  color: var(--color-primary);
}

.nav-hover::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--color-primary);
  height: 1px;
  transition: all 0.4s;
}

.nav-hover:hover::after {
  width: 80%;
}
